.dashboard-body {
  display: flex;
  flex-direction: column;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

mat-card {
  margin: 5px;
}

.item-count {
  font-size: 50px;
  text-align: center;
}
