mat-toolbar {
  display: flex;
  align-items: center;
  box-shadow: 0px 1px 3px #00000029;
  z-index: 100;
  height: 100px;
  min-height: 100px;

  .logo-container {
    display: flex;
    flex-direction: column;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .stage {
    margin: 0;
    padding: 0;
    border-radius: 20px;
    color: white;
    font-size: 10px;
    text-align: center;
  }

  .dev {
    background-color: green;
  }

  .qa {
    background-color: yellow;
  }

  .prod {
    background-color: red;
  }
}

.main {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
}

.drawer-container {
  flex: 1 1 auto;
}

.drawer {
  min-width: 250px;
}

.content {
  display: flex;
  flex-grow: 1 1 auto;
  justify-content: center;
  justify-self: center;
  padding: 10px;
}
